@tailwind base;
@tailwind components;
@tailwind utilities;


/* *{
    border: 1px solid red;
}  */

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the thumb */
}

*{
    /* border: 1px solid red; */
}